table {
  width: 80%;
  margin: auto;
}


.buttonOptions {
  margin-left: 10%;
  margin-bottom: 3%;
}

.titleContainer {
  margin-top: 2%;
  text-align: center;
  font-weight: bold;
}

.button {
  cursor: pointer;

}

.good {
  color: #4350af;
}

.danger {
  color: #d46d6d;
}

